.container {
  position: fixed;
  top: 0px;
  z-index: 2;
}

.menu_div {
  display: flex;
  align-items: center;
  margin-left: -7px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  width: 100vw;
  background-color: black;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: red;
}

.menu_div_col1 {
  flex-basis: 30%;
}

.menu_div_col2 {
  flex-basis: 50%;
  display: flex;
  justify-content: space-evenly;
}

.menu_div_col3 {
  flex-basis: 20%;
  div {
    display: flex;
    align-items: center;
    width: 100%;
    img {
      height: 50px;
      width: 50px;
    }
    a{
      margin-left: 10px;
      text-decoration: none;
      color: gray;

    }
  }
}
