.login_form {
  display: flex;
  flex-direction: column;
  label,
  a {
    color: gray;
  }
}

.save_forgot_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.submit_link{
  color: white !important;
  text-decoration: none;
}

.forgot_pass_link {
  text-decoration: none;
  border-bottom-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
  border-color: red;
}

.create_acc_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  *{
    margin: 3px;
  }
  a{
    text-decoration: none;
  }
}
