@font-face {
  font-family: 'MarvelRegular'; /*a name to be used later*/
  src: url('../public/fonts/MarvelRegular-Dj83.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'Kastelov_Regular'; /*a name to be used later*/
  src: url('../public/fonts/Kastelov - Axiforma Regular.otf'); /*URL to font*/
}

@font-face {
  font-family: 'Kastelov_Bold'; /*a name to be used later*/
  src: url('../public/fonts/Kastelov - Axiforma Bold.otf'); /*URL to font*/
}

body{
  color: white;
  background-color: black;
  font-family: Kastelov_Regular;
  overflow: hidden;
}